<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit 9999 - xxxxxxxxxxxxx</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon" 
                ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'" 
                ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit2.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit2.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
      <div ng-class="!!viewImg3 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit2.c.png" class="img-thumbnail" ng-class="{'little-img': !viewImg3}" ng-click="viewImg3 = !viewImg3">
      </div>
      <div ng-class="!!viewImg4 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit2.d.png" class="img-thumbnail" ng-class="{'little-img': !viewImg4}" ng-click="viewImg4 = !viewImg4">
      </div>
    </div>


    <!-- Exercice 2.1 -->
    <div class="row" id="ex2-1"> ... </div>



    
  </div>
</div>