html, body {
  height: 95%;
}

.ex-tit {
  font-weight: bold;
}
.ex-tit-num {
  color: blue;
}
.dial-tip {
  color: #AAAAAA;
}

td {
	padding: 3px;
}

.glyphicon-ok {
	color: green;
}
.glyphicon-remove {
	color: red;
}