html, body {
  height: 95%;
  font: 16px Verdana, sans-serif;
}

.row {
	margin-top: 10px;
}

.ex-tit {
  font-weight: bold;
}
.ex-tit-num {
  color: black;
}
.dial-tip {
  color: #AAAAAA;
}
.underline {
  text-decoration: underline;
  font-weight: bold;
  color: #777777;
}

td {
	padding: 3px;
}

.glyphicon-ok {
	color: green;
}
.glyphicon-remove {
	color: red;
}

.custom-label {
	font-size: 100%;
	cursor:pointer;
}
.strike-text {
	text-decoration: line-through;
	background: #AAAAAA;
}
.option-answ-button {
	background-color: #BBB;
	font-size: 100%;
	cursor:pointer;	
}
.answ-ok-icon {
	color: #7A7;
	left: 3px;
	top: 1px;
}
.answ-ko-icon {
	color: #888;
	left: 3px;
	top: 2px;
}
.answ-ok-word {
  text-decoration: underline;
  font-weight: bold;
  color: #3A3;
}
.answ-ko-word {
  text-decoration: underline;
  font-weight: bold;
  color: #C33;
}

.answ {
	background: #CCCCCC;
	color: #111111;
}

.little-img {
	width: 200px;
	height: 130px;
	cursor:pointer;
}

.big-img {
	margin-top: 5px;
	margin-bottom: 5px;
	cursor:pointer;
}

.compact-question {
	height: 40px;
}

input.text-inline-answ {
	margin: 1px;
}
input.text-okko-answ {
	margin: 1px 0px 5px 10px;
}
input.text-sent-line-answ {
	width: 700px;
	margin-left: 22px;
	margin-top: 1px;
	margin-bottom: 12px;
}