<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit 6 - Past continuous (I was doing)</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon"
            ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'"
            ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit6.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit6.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
      <div ng-class="!!viewImg3 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit6.c.png" class="img-thumbnail" ng-class="{'little-img': !viewImg3}" ng-click="viewImg3 = !viewImg3">
      </div>
    </div>


    <!-- Exercice 6_1 -->
    <question-box ex="ex[1]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q ex="ex[1]" num="0"  width="400" br></text-q>
            <text-q ex="ex[1]" num="1"  width="400" br></text-q>
            <text-q ex="ex[1]" num="2"  width="400" br></text-q>
            <text-q ex="ex[1]" num="3"  width="400" br></text-q>
            <text-q ex="ex[1]" num="4"  width="400" br></text-q>
            <text-q ex="ex[1]" num="5"  width="400" br></text-q>
          </p>
        </div>
      </div>
    </question-box>

    <!-- Exercice 6_2 -->
    <question-box ex="ex[2]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q ex="ex[2]" num="0"  width="400" br></text-q>
            <text-q ex="ex[2]" num="1"  width="400" br></text-q>
            <text-q ex="ex[2]" num="2"  width="400" br></text-q>
            <text-q ex="ex[2]" num="3"  width="400" br></text-q>
            <text-q ex="ex[2]" num="4"  width="400" br></text-q>
          </p>
        </div>
      </div>
    </question-box>

    <!-- Exercice 6_3 -->
    <question-box ex="ex[3]">

      <div class="row">
        <div class="col-xs-4">
          <img src="images/unit6.ex3.a.png" class="img-thumbnail">
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="0" ></text-q>
            <text-q ex="ex[3]" num="1" ></text-q>
          </p>
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="2" ></text-q>
          </p>
        </div>
        <div class="col-xs-4">
          <img src="images/unit6.ex3.b.png" class="img-thumbnail">
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="3" ></text-q>
          </p>
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="4" ></text-q>
            <text-q ex="ex[3]" num="5" ></text-q>
          </p>
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="6" ></text-q>
            <text-q ex="ex[3]" num="7" ></text-q>
          </p>
        </div>
        <div class="col-xs-4">
          <img src="images/unit6.ex3.c.png" class="img-thumbnail">
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="8" ></text-q>
            <text-q ex="ex[3]" num="9" ></text-q>
          </p>
          <p style="padding-right: 50px">
            <text-q ex="ex[3]" num="10" ></text-q>
            <text-q ex="ex[3]" num="11" ></text-q>
            <text-q ex="ex[3]" num="12" ></text-q>
          </p>
        </div>
      </div>
    </question-box>

    <!-- Exercice 6_4 -->
    <question-box ex="ex[4]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q ex="ex[4]" num="0"  br></text-q>
            <text-q ex="ex[4]" num="1"  br></text-q>
            <text-q ex="ex[4]" num="2"  br></text-q>
            <text-q ex="ex[4]" num="3"  br></text-q>
            <text-q ex="ex[4]" num="4"  br></text-q>
            <text-q ex="ex[4]" num="5"  br></text-q>
            <text-q ex="ex[4]" num="6"  br></text-q>
            <text-q ex="ex[4]" num="7"  br></text-q>
            <text-q ex="ex[4]" num="8"  br></text-q>
            <text-q ex="ex[4]" num="9"  br></text-q>
            <text-q ex="ex[4]" num="10"  br></text-q>
            <text-q ex="ex[4]" num="11"  br></text-q>
            <text-q ex="ex[4]" num="12"  br></text-q>
            <text-q ex="ex[4]" num="13"  br></text-q>
            <text-q ex="ex[4]" num="14"  br></text-q>
            <text-q ex="ex[4]" num="15"  br></text-q>
            <text-q ex="ex[4]" num="16"  br></text-q>
            <text-q ex="ex[4]" num="17"  br></text-q>
          </p>
        </div>
      </div>
    </question-box>

  </div>
</div>