<div class="row">
  <hr/>
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-8">
        <p class="ex-tit">{{ex.title}}</p>
        <p class="ex-score">Last score: {{ex.getLastScore()}}%, attempts: {{ex.getAtempts()}}</p>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-success" ng-click="ex.correct(ex)">Correct</button>
        <button class="btn btn-warning" ng-click="ex.answer(ex)">Answers</button>
        <button class="btn btn-error" ng-click="ex.prepare()">Reset</button>
        <button class="btn btn-info glyphicon"
                ng-class="ex.isExpanded ? 'glyphicon-resize-small' : 'glyphicon-resize-full'"
                ng-click="ex.isExpanded = !ex.isExpanded"></button>
      </div>
    </div>

    <div class="row" ng-show="!!ex.isExpanded">
      <div class="col-xs-12" ng-transclude>



      </div>
    </div>

  </div>
</div>