<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit 7 - Present Perfect (I have done)</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon"
            ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'"
            ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit7.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit7.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
      <div ng-class="!!viewImg3 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit7.c.png" class="img-thumbnail" ng-class="{'little-img': !viewImg3}" ng-click="viewImg3 = !viewImg3">
      </div>
    </div>


    <!-- Exercice 7_1 -->
    <question-box ex="ex[1]">
      <div class="row">
        <div class="col-xs-12">
          <p class="ex-tit">
            <opcio word="arrive"></opcio>
            <opcio word="break"></opcio>
            <opcio word="fall"></opcio>
            <opcio word="go up"></opcio>
            <opcio word="grow"></opcio>
            <opcio word="improve"></opcio>
            <opcio word="lose"></opcio>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <div class="row" ng-repeat="q in ex[1].q">
            <div class="col-xs-4">
              <span class="dial">{{q.t1}}</span>
              <span ng-if="!!q.hint" class="dial-tip">{{q.hint}}</span>
            </div>

            <div class="col-xs-8">
              <span class="dial">
                <span ng-if="!!q.t2">{{q.t2}}</span>
                <input ng-model="q.ua" style="width: 350px"/>
                <span ng-if="!!q.t3">{{q.t3}}</span>
              </span>
              <resultat ex="{{ex[1].qStr}}" q="q"></resultat>
            </div>

          </div>

        </div>
      </div>
    </question-box>

    <!-- Exercice 7_2 -->
    <question-box ex="ex[2]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q ex="ex[2]" num="0"  br></text-q>
            <text-q ex="ex[2]" num="1"  br></text-q>
            <text-q ex="ex[2]" num="2"  br></text-q>
            <text-q ex="ex[2]" num="3"  br></text-q>
            <text-q ex="ex[2]" num="4"  br></text-q>
          </p>
        </div>
      </div>
    </question-box>

    <!-- Exercice 7_3 -->
    <question-box ex="ex[3]">
      <div class="row">
        <div class="col-xs-12">

          <div class="row" ng-repeat="q in ex[3].q">
            <div class="col-xs-4">
              <span class="dial">{{q.t1}}</span>
            </div>

            <div class="col-xs-8">
              <span class="dial">
                <span ng-if="!!q.t2">{{q.t2}}</span>
                <input ng-model="q.ua" style="width: 350px"/>
                <span ng-if="!!q.t3">{{q.t3}}</span>
                <span ng-if="!!q.hint" class="dial-tip">{{q.hint}}</span>
              </span>
              <resultat ex="{{ex[3].qStr}}" q="q"></resultat>
            </div>

          </div>
        </div>
      </div>
    </question-box>

    <!-- Exercice 7_4 -->
    <question-box ex="ex[4]">
      <div class="row">
        <div class="col-xs-12">

          <div class="row" ng-repeat="q in ex[4].q">
            <div class="col-xs-12">
              <p class="dial">{{q.t1}}</p>
              <p ng-if="!!q.t2" class="dial" style="margin-left: 22px">{{q.t2}}</p>
              <p>
                <span class="dial" style="margin-left: 22px">{{q.t3}}</span>
                <input ng-model="q.ua" style="width: 350px"/>
                <span ng-if="!!q.hint" class="dial-tip">{{q.hint}}</span>
                <span ng-if="!!q.t4">{{q.t4}}</span>
                <resultat ex="{{ex[4].qStr}}" q="q"></resultat>
              </p>
            </div>

          </div>

        </div>
      </div>
    </question-box>


  </div>
</div>