<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit 1 - Present continuous (I am doing)</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon"
            ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'"
            ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit1.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit1.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
      <div ng-class="!!viewImg3 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit1.c.png" class="img-thumbnail" ng-class="{'little-img': !viewImg3}" ng-click="viewImg3 = !viewImg3">
      </div>
    </div>


    <!-- Exercice 1.1 -->
    <question-box ex="ex1_1">
      <div class="row">
        <div class="col-xs-12">
          <table>
            <tr ng-repeat="q in ex1_1.q">
              <td>{{$index+1}}. {{q.text}}</td>
              <td>
                <select ng-model="q.ua">
                  <option ng-repeat="answ in ex1_1.allAnswers" value="{{answ.id}}">{{answ.ca}}</option>
                </select>
              </td>
              <td> <resultat ex="{{ex1_1.qStr}}" q="q"></resultat> </td>
            </tr>
          </table>
        </div>
      </div>
    </question-box>

    <!-- Exercice 1.2 -->
    <question-box ex="ex1_2">
      <div class="row">
        <div class="col-xs-12">
          <p>1<br/>
            <span class="dial-A">A: </span>I saw Brian a few days ago.<br/>
            <text-q ex="ex1_2" num="0"  br></text-q>
            <span class="dial-A">A: </span>He's at university.<br/>
            <text-q ex="ex1_2" num="1"  br></text-q>
            <span class="dial-A">A: </span>Psychology.<br/>
            <text-q ex="ex1_2" num="2"  br></text-q>
            <span class="dial-A">A: </span>Yes, he says it's a very good course.<br/>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p>2<br/>
            <text-q ex="ex1_2" num="3"  br></text-q>
            <text-q ex="ex1_2" num="4"  br></text-q>
            <span class="dial-A">A: </span>What about Daniel? Is he OK?<br/>
            <text-q ex="ex1_2" num="5"  br></text-q>
            <text-q ex="ex1_2" num="6"  br></text-q>
          </p>
        </div>
      </div>
    </question-box>


    <!-- Exercice 1.3 -->
    <question-box ex="ex1_3">
      <p>
        <text-q ex="ex1_3" num="0"  br></text-q>
        <text-q ex="ex1_3" num="1"  br></text-q>
        <text-q ex="ex1_3" num="2"  br></text-q>
        <text-q ex="ex1_3" num="3"  br></text-q>
        <text-q ex="ex1_3" num="4"  br></text-q>
        <text-q ex="ex1_3" num="5"  br></text-q>
        <text-q ex="ex1_3" num="6"  br></text-q>
        <text-q ex="ex1_3" num="7"  br></text-q>
        <text-q ex="ex1_3" num="8"  br></text-q>
        <text-q ex="ex1_3" num="9"  br></text-q>
      </p>
    </question-box>

    <!-- Exercice 1.4 -->
    <question-box ex="ex1_4">
      <div class="row">
        <p class="ex-tit">
          <opcio word="start"></opcio>
          <opcio word="get"></opcio>
          <opcio word="increase"></opcio>
          <opcio word="change"></opcio>
          <opcio word="rise"></opcio>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q ex="ex1_4" num="0" br></text-q>
            <text-q ex="ex1_4" num="1" br></text-q>
            <text-q ex="ex1_4" num="2" br></text-q>
            <text-q ex="ex1_4" num="3" br></text-q>
            <text-q ex="ex1_4" num="4" br></text-q>
          </p>
        </div>
      </div>
    </question-box>

    <hr/>
  </div>
</div>