<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit 9 - Present perfect continuous (I have been doing)</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon"
            ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'"
            ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit9.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit9.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
      <div ng-class="!!viewImg3 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit9.c.png" class="img-thumbnail" ng-class="{'little-img': !viewImg3}" ng-click="viewImg3 = !viewImg3">
      </div>
    </div>


    <!-- Exercice 9_1 -->
    <question-box ex="ex[1]">
      <div class="row">
        <div class="col-xs-12">
          <img src="images/unit9.ex1.png" class="img-thumbnail">
          <text-q-f ex="ex[1]" num="0" pos="95,222,380,x,x,-384,25"></text-q-f>
          <text-q-f ex="ex[1]" num="1" pos="570,222,400,x,x,-404,25"></text-q-f>
          <text-q-f ex="ex[1]" num="2" pos="92,475,380,x,x,-384,25"></text-q-f>
          <text-q-f ex="ex[1]" num="3" pos="560,475,400,x,x,-404,25"></text-q-f>
        </div>
      </div>
    </question-box>

    <!-- Exercice 9_2 -->
    <question-box ex="ex[2]">
      <div class="row">
        <text-q-list ex="ex[2]" width="350"></text-q-list>
      </div>
    </question-box>

    <!-- Exercice 9_3 -->
    <question-box ex="ex[3]">
      <div class="row">
        <text-q-list ex="ex[3]" width="300"></text-q-list>
      </div>
    </question-box>

    <!-- Exercice 9_4 -->
    <question-box ex="ex[4]">
      <div class="row">
        <text-q-list ex="ex[4]" width="400"></text-q-list>
      </div>
    </question-box>

    <div class="row" style="margin-bottom: 90px;"></div>

  </div>
</div>