
<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit 3 - Present continuous / simple 1</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon"
            ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'"
            ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit3.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="images/unit3.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
    </div>


    <!-- Exercice 9999_888 -->
    <question-box ex="ex[1]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q-c ex="ex[1]" num="0"  br></text-q-c>
            <text-q-c ex="ex[1]" num="1"  br></text-q-c>
            <text-q-c ex="ex[1]" num="2"  br></text-q-c>
            <text-q-c ex="ex[1]" num="3"  br></text-q-c>
            <text-q-c ex="ex[1]" num="4"  br></text-q-c>
            <text-q-c ex="ex[1]" num="5"  br></text-q-c>
            <text-q-c ex="ex[1]" num="6"  br></text-q-c>
            <text-q-c ex="ex[1]" num="7"  br></text-q-c>
            <text-q-c ex="ex[1]" num="8"  br></text-q-c>
            <text-q-c ex="ex[1]" num="9"  br></text-q-c>
            <text-q-c ex="ex[1]" num="10" br></text-q-c>
          </p>
        </div>
      </div>
    </question-box>

    <!-- Exercice 9999_888 -->
    <question-box ex="ex[2]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q ex="ex[2]" num="0"  br></text-q>
            <text-q ex="ex[2]" num="1"  br></text-q>
            <text-q ex="ex[2]" num="2"  br></text-q>
            <text-q ex="ex[2]" num="3"  br></text-q>
            <text-q ex="ex[2]" num="4"  br></text-q>
            <text-q ex="ex[2]" num="5"  br></text-q>
            <text-q ex="ex[2]" num="6"  br></text-q>
            <text-q ex="ex[2]" num="7"  ></text-q>
            <text-q ex="ex[2]" num="8"  br></text-q>
            <text-q ex="ex[2]" num="9"  br></text-q>
            <text-q ex="ex[2]" num="10" ></text-q>
            <text-q ex="ex[2]" num="11" br></text-q>
            <text-q ex="ex[2]" num="12" br></text-q>
            <text-q ex="ex[2]" num="13"   ></text-q>
            <text-q ex="ex[2]" num="14" br></text-q>
            <text-q ex="ex[2]" num="15"   ></text-q>
            <text-q ex="ex[2]" num="16" br></text-q>
            <text-q ex="ex[2]" num="17"   ></text-q>
            <text-q ex="ex[2]" num="18" br></text-q>
            <text-q ex="ex[2]" num="19"   ></text-q>
            <text-q ex="ex[2]" num="20" br></text-q>
            <text-q ex="ex[2]" num="21"   ></text-q>
            <text-q ex="ex[2]" num="22" br></text-q>
            <text-q ex="ex[2]" num="23"   ></text-q>
            <text-q ex="ex[2]" num="24" br></text-q>
          </p>
        </div>
      </div>
    </question-box>

    <!-- Exercice 9999_888 -->
    <question-box ex="ex[3]">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <text-q-a ex="ex[3]" num="0" br tab></text-q-a>
            <text-q-a ex="ex[3]" num="1" br tab></text-q-a>
            <text-q-a ex="ex[3]" num="2" br tab></text-q-a>
            <text-q-a ex="ex[3]" num="3" br tab></text-q-a>
          </p>
        </div>
      </div>
    </question-box>


  </div>
</div>