<div class="row">
  <div class="col-xs-12">

    <!-- Unit title -->
    <div class="row">
      <div class="col-xs-8">
        <h3>Unit1</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-info glyphicon" 
                ng-class="!showInfo ? 'glyphicon-resize-small' : 'glyphicon-info-sign'" 
                ng-click="showInfo = !showInfo"></button>
      </div>
    </div>

    <!-- Unit images -->
    <div class="row" ng-show="!showInfo">
      <div ng-class="!!viewImg1 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit1/unit1.a.png" class="img-thumbnail" ng-class="{'little-img': !viewImg1}" ng-click="viewImg1 = !viewImg1">
      </div>
      <div ng-class="!!viewImg2 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit1/unit1.b.png" class="img-thumbnail" ng-class="{'little-img': !viewImg2}" ng-click="viewImg2 = !viewImg2">
      </div>
      <div ng-class="!!viewImg3 ? 'col-xs-12 big-img' : 'col-xs-2'">
        <img src="unit1/unit1.c.png" class="img-thumbnail" ng-class="{'little-img': !viewImg3}" ng-click="viewImg3 = !viewImg3">
      </div>
    </div>

    <!-- Exercice 1.1 -->
    <div class="row" id="ex1-1">
      <hr/>
      <div class="col-xs-12">
        
        <div class="row">
          <div class="col-xs-8">
            <p class="ex-tit">{{ex1_1.title}}</p>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-success" ng-click="ex1_1.correct()">Correct</button>              
            <button class="btn btn-warning" ng-click="ex1_1.answer()">Answers</button>
            <button class="btn btn-info glyphicon" 
                ng-class="viewQ1_1 ? 'glyphicon-resize-small' : 'glyphicon-resize-full'" 
                ng-click="viewQ1_1 = !viewQ1_1"></button>
          </div>
        </div>

        <div class="row" ng-show="!!viewQ1_1">
          <div class="col-xs-12">
            <table>
              <tr ng-repeat="q in ex1_1.questions">
                <td>{{$index+1}}. {{q.text}}</td> 
                <td>
                  <select ng-model="q.ua">
                    <option ng-repeat="answ in ex1_1.allAnswers" value="{{answ.id}}">{{answ.ca}}</option>
                  </select>
                </td>
                <td> <resultat ex="1_1" q="q"></resultat> </td>
              </tr>
            </table>
          </div>
        </div>
          
      </div>
    </div>
    
    <!-- Exercice 1.2 -->
    <div class="row" id="ex1-2" ng-show="true">
      <hr/>
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-8">
            <p class="ex-tit">{{ex1_2.title}}</p>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-success" ng-click="ex1_2.correct()">Correct</button>
            <button class="btn btn-warning" ng-click="ex1_2.answer()">Answers</button>
            <button class="btn btn-info glyphicon" 
                ng-class="viewQ1_2 ? 'glyphicon-resize-small' : 'glyphicon-resize-full'" 
                ng-click="viewQ1_2 = !viewQ1_2"></button>
          </div>
        </div>
        
        <div class="row" ng-show="!!viewQ1_2">
          <div class="col-xs-12">
            <p>1<br/>
            
              <span class="dial-A">A: </span>I saw Brian a few days ago.<br/>
              <span class="dial-B">B: </span>Oh, did you? <input ng-model="ex1_2.questions[0].ua"/> these days? <span class="dial-tip">(what / he / do)</span> 
              <resultat ex="1_2" q="ex1_2.questions[0]"></resultat>
              <br/>

              <span class="dial-A">A: </span>He's at university.<br/>
              <span class="dial-B">B: </span> <input ng-model="ex1_2.questions[1].ua"/> ? <span class="dial-tip">(what / he / study)</span>
              <resultat ex="1_2" q="ex1_2.questions[1]"></resultat>
              <br/>

              <span class="dial-A">A: </span>Psychology.<br/>
              <span class="dial-B">B: </span> <input ng-model="ex1_2.questions[2].ua"/> it? <span class="dial-tip">(he / enjoy)</span>
              <resultat ex="1_2" q="ex1_2.questions[2]"></resultat>
              <br/>

              <span class="dial-A">A: </span>Yes, he says it's a very good course.<br/>
            </p>
          </div>
        </div>

        <div class="row" ng-show="!!viewQ1_2">
          <div class="col-xs-12">
            <p>2<br/>
              <span class="dial-A">A: </span>Hi, Nicola. How <input ng-model="ex1_2.questions[3].ua"/> ? <span class="dial-tip">(your new job / go)</span>
              <resultat ex="1_2" q="ex1_2.questions[3]"></resultat>
              <br/>

              <span class="dial-B">B: </span>Not bad. It wasn't so good at first, but <input ng-model="ex1_2.questions[4].ua"/> better now. <span class="dial-tip">(it / get)</span>
              <resultat ex="1_2" q="ex1_2.questions[4]"></resultat>
              <br/>

              <span class="dial-A">A: </span>What about Daniel? Is he OK?<br/>
              <span class="dial-B">B: </span>Yes, but <input ng-model="ex1_2.questions[5].ua"/> his work right now. <span class="dial-tip">(he / not / enjoy)</span>
              <resultat ex="1_2" q="ex1_2.questions[5]"></resultat>
              <br/>

              <span class="dial-B">   </span>He's been in the same job for a long time and <input ng-model="ex1_2.questions[6].ua"/> to get bored with it. <span class="dial-tip">(he / begin)</span>
              <resultat ex="1_2" q="ex1_2.questions[6]"></resultat>
              <br/>

            </p>
          </div>
        </div>

      </div>
    </div>

    <!-- Exercice 1.3 -->
    <div class="row" id="ex1-3" ng-show="true">
      <hr/>
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-8">
            <p class="ex-tit">{{ex1_3.title}}</p>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-success" ng-click="ex1_3.correct()">Correct</button>
            <button class="btn btn-warning" ng-click="ex1_3.answer()">Answers</button>
            <button class="btn btn-info glyphicon" 
                ng-class="viewQ1_3 ? 'glyphicon-resize-small' : 'glyphicon-resize-full'" 
                ng-click="viewQ1_3 = !viewQ1_3"></button>
          </div>
        </div>
        
        <div class="row" ng-show="!!viewQ1_3">
          <div class="col-xs-12">
            <p>
              <span class="dial">1. Please don't make so much noise. <input ng-model="ex1_3.questions[0].ua"/> to work.</span>
              <span class="dial-tip">(I / try)</span> 
              <resultat ex="1_3" q="ex1_3.questions[0]"></resultat>
              <br/>

              <span class="dial">2. Let's go out now. <input ng-model="ex1_3.questions[1].ua"/> any more.</span>
              <span class="dial-tip">(it / rain)</span> 
              <resultat ex="1_3" q="ex1_3.questions[1]"></resultat>
              <br/>

              <span class="dial">3. You can turn off the radio. <input ng-model="ex1_3.questions[2].ua"/> to it.</span>
              <span class="dial-tip">(I / listen)</span> 
              <resultat ex="1_3" q="ex1_3.questions[2]"></resultat>
              <br/>

              <span class="dial">4. Kate phoned me last night. She's on holiday in France, <input ng-model="ex1_3.questions[3].ua"/> a great time and doesn't want to come back.</span>
              <span class="dial-tip">(she / have)</span> 
              <resultat ex="1_3" q="ex1_3.questions[3]"></resultat>
              <br/>

              <span class="dial">5. I want to lose weight, so this week <input ng-model="ex1_3.questions[4].ua"/> lunch.</span>
              <span class="dial-tip">(I / eat)</span> 
              <resultat ex="1_3" q="ex1_3.questions[4]"></resultat>
              <br/>

              <span class="dial">6. Andrew has just started evening classes. <input ng-model="ex1_3.questions[5].ua"/> Japanese.</span>
              <span class="dial-tip">(he / learn)</span> 
              <resultat ex="1_3" q="ex1_3.questions[5]"></resultat>
              <br/>

              <span class="dial">7. Paul and Sally have had an argument, <input ng-model="ex1_3.questions[6].ua"/> to each other.</span>
              <span class="dial-tip">(they / speak)</span> 
              <resultat ex="1_3" q="ex1_3.questions[6]"></resultat>
              <br/>

              <span class="dial">8. <input ng-model="ex1_3.questions[7].ua"/> tired. I need a rest.</span>
              <span class="dial-tip">(I / get)</span> 
              <resultat ex="1_3" q="ex1_3.questions[7]"></resultat>
              <br/>

              <span class="dial">9. Tim <input ng-model="ex1_3.questions[8].ua"/> today. He's taken the day off.</span>
              <span class="dial-tip">(work)</span> 
              <resultat ex="1_3" q="ex1_3.questions[8]"></resultat>
              <br/>

              <span class="dial">10. <input ng-model="ex1_3.questions[9].ua"/> for Sophie. Do you know where she is?</span>
              <span class="dial-tip">(I / look)</span> 
              <resultat ex="1_3" q="ex1_3.questions[9]"></resultat>
              <br/>


            </p>
          </div>
        </div>

      </div>
    </div>

    <!-- Exercice 1.4 -->
    <div class="row" id="ex1-4">
      <hr/>
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-8">
            <p class="ex-tit">{{ex1_4.title}}</p>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-success" ng-click="ex1_4.correct()">Correct</button>
            <button class="btn btn-warning" ng-click="ex1_4.answer()">Answers</button>
            <button class="btn btn-info glyphicon" 
                ng-class="viewQ1_4 ? 'glyphicon-resize-small' : 'glyphicon-resize-full'" 
                ng-click="viewQ1_4 = !viewQ1_4"></button>
          </div>
        </div>
        
        <div class="row" ng-show="!!viewQ1_4">
          <p class="ex-tit">
            <opcio word="start"></opcio>
            <opcio word="get"></opcio>
            <opcio word="increase"></opcio>
            <opcio word="change"></opcio>
            <opcio word="rise"></opcio>
          </p>
        </div>
        <div class="row" ng-show="!!viewQ1_4">
          <div class="col-xs-12">
            <p>
              <span class="dial">1. The population of the world <input ng-model="ex1_4.questions[0].ua"/> very fast.</span>
              <resultat ex="1_4" q="ex1_4.questions[0]"></resultat>
              <br/>

              <span class="dial">2. The world <input ng-model="ex1_4.questions[1].ua"/>. Things never stay the same.</span>
              <resultat ex="1_4" q="ex1_4.questions[1]"></resultat>
              <br/>

              <span class="dial">3. The situation is already bad and it <input ng-model="ex1_4.questions[2].ua"/> worse.</span>
              <resultat ex="1_4" q="ex1_4.questions[2]"></resultat>
              <br/>

              <span class="dial">4. The cost of living <input ng-model="ex1_4.questions[3].ua"/>. Every year things are more expensive.</span>
              <resultat ex="1_4" q="ex1_4.questions[3]"></resultat>
              <br/>

              <span class="dial">5. The weather <input ng-model="ex1_4.questions[4].ua"/> to improve. The rain has stopped, and the wind isn't as strong.</span>
              <resultat ex="1_4" q="ex1_4.questions[4]"></resultat>
              <br/>
            </p>
          </div>
        </div>

      </div>
    </div>

    <hr/>
  </div>
</div>